name: Java Make Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Java Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: Export GOOGLE_APPLICATION_CREDENTIALS
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=${{ steps.auth.outputs.credentials_file_path }}" >> $GITHUB_ENV

      - name: Run Checkstyle
        working-directory: CalorieService
        run: mvn checkstyle:check

      - name: Report Checkstyle
        working-directory: CalorieService
        run: mvn checkstyle:checkstyle

      - name: Run Unit Tests
        working-directory: CalorieService
        run: mvn clean test

      - name: Generate Jacoco Report
        working-directory: CalorieService
        run: mvn jacoco:report

      - name: Run Static Analysis
        working-directory: CalorieService
        run: mvn pmd:check
