name: Java Make Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Java Build
    runs-on: ubuntu-latest
    env:
      FIRESTORE_EMULATOR_HOST: localhost:8081
      GOOGLE_CLOUD_PROJECT: demo-project
    services:
      firestore:
        image: gcr.io/google.com/cloudsdktool/cloud-sdk:emulators
        ports:
          - 8081:8081
        options: >-
          --entrypoint gcloud
        command:
          - beta
          - emulators
          - firestore
          - start
          - --host-port=0.0.0.0:8081
          - --project=demo-project

    steps:
      - uses: actions/checkout@v4

      - name: Run Checkstyle
        working-directory: CalorieService
        run: mvn checkstyle:check

      - name: Report Checkstyle
        working-directory: CalorieService
        run: mvn checkstyle:checkstyle

      - name: Run Unit Tests
        working-directory: CalorieService
        run: mvn clean test

      - name: Generate Jacoco Report
        working-directory: CalorieService
        run: mvn jacoco:report

      - name: Run Static Analysis
        working-directory: CalorieService
        run: mvn pmd:check

